{%extends "showtime/base.html"%}
{%load staticfiles%}

{%block page-meta%}
<!-- Site URL -->
<meta property="og:url" content="https://www.politico.com/election-results/{{year}}/{{race.office.slug}}/" />
<link rel="canonical" href="https://www.politico.com/election-results/{{year}}/{{race.office.slug}}/" />
<!-- Site URL -->
<meta property="og:url" content="https://www.politico.com/election-results/{{year}}/{{race.office.slug}}/" />
<link rel="canonical" href="https://www.politico.com/election-results/{{year}}/{{race.office.slug}}/" />
<!-- Project title -->
<meta property="twitter:title" content="Live {{race}}ial Election Results" />
<meta property="og:title" content="Live {{race}}ial Election Results" />
<!-- Project description -->
<meta property="twitter:description" content="{{race}}ial Election: See results, maps and live coverage." />
<meta property="og:description" content="{{race}}ial Election: See results, maps and live coverage." />
<meta name="description" content="{{race}}ial Election: See results, maps and live coverage." />
<!-- Keywords -->
<meta property="og:keywords" content="Live {{race}}ial results, {{race}}, {{year}} election, Live election results" />
{%endblock%}

{%block content%}
<h1>Page at /election-results/{{year}}/{{race.office.slug}}/</h1>
{%endblock%}

{%block relative_head%}
<style media="screen">
  h1{
    color: blue;
  }
</style>
{%endblock%}
