{%extends "showtime/states/state.fed.live.html"%}

{%block page-meta%}
<!-- Site URL -->
<meta property="og:url" content="https://www.politico.com/election-results/{{year}}/{{state}}/{{race.office.slug}}/" />
<link rel="canonical" href="https://www.politico.com/election-results/{{year}}/{{state}}/{{race.office.slug}}/" />
<!-- Site URL -->
<meta property="og:url" content="https://www.politico.com/election-results/{{year}}/{{state}}/{{race.office.slug}}/" />
<link rel="canonical" href="https://www.politico.com/election-results/{{year}}/{{state}}/{{race.office.slug}}/" />
<!-- Project title -->
<meta property="twitter:title" content="Live 2020 Presidential Election Results: **Candidate** vs. **Candidate**" />
<meta property="og:title" content="Live 2020 Presidential Election Results: **Candidate** vs. **Candidate**" />
<!-- Project description -->
<meta property="twitter:description" content="See results, maps and live coverage." />
<meta property="og:description" content="See results, maps and live coverage." />
<meta name="description" content="See results, maps and live coverage." />
<!-- Keywords -->
<meta property="og:keywords" content="Live 2020 Presidential Election Results, 2020 Presidential Election Results, Presidential Election Results, 2020 election, Live election results" />
{%endblock%}

{%block relative_head%}
<style media="screen">
  h1{
    color: red;
  }
</style>
{%endblock%}
