.collapsible-nerd-box{
  max-width: 800px;
  margin: 0 auto;

  button {
    font-family: $proxima;
    border: 0;
    width: 140px;
    font-size: 14px;
    position: relative;
    text-align: left;
    &.closed{
      background-color: #E7E7E7;
      color:#686868;
    }
    &.open{
      color: #E7E7E7;
      background-color:#686868;
    }
    span{
      position: absolute;
      right: 10px;
      font-weight: bold;
    }
  }
  .footnote p{
    font-family: $proxima;
    font-size: 14px;
    line-height: 18px;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
  }
}
