@import 'fonts/stateface';
@import 'bootstrap';

@import 'breakpoints';
@import 'mixins';
@import 'colors/base';
@import 'colors/diverging';
@import 'colors/qualitative';
@import 'colors/sequential';
@import 'fonts';
@import 'icons';

@import 'elements';
@import 'sections';
@import 'card';
@import 'refer';
@import 'navigation';
@import 'header';
@import 'footer';
@import 'photos';
@import 'buttons';
@import 'ads';
@import 'comments';
@import 'share';
@import 'credits';
@import 'graphics';

$light-load: #FFEFB5;
$checking-load: #fce490;
$new-restults-load: #629359;

body{
  font-family: $franklin;
}

.section{
  margin-bottom: 4rem;

  &.swing-chart{
  margin-bottom: 0;
  }
}

.content-extra-large{
  max-width: 980px;
}

.content-extra-extra-large{
  max-width: 1280px;
  @include margin-auto;
}

@media(max-width: 780px){
  .top-results.section{
    max-width: 100%;
  }

  .section{
    max-width: 400px;
    @include margin-auto;
  }
}

header {
  h3{
  font-family: $proxima;
  font-size: 16px;
  }
  span.red{
  color: $politico-red;
  font-weight: 700;
  }
}

h3 {
      font-size: 1.1rem;
}

//scatter plot div fix
.scatter-plots{
  @media(max-width:980px){
    .col-sm-3{
      width: 50%;
    }
  }
}

$candidateResultsBar-container: '#candidateResultsBar';
@import '../../node_modules/candidate-results-bar/src/scss/_chart-styles';

$resultCounty-container: '#resultsMap';
@import '../../node_modules/politico-module-elections-results-county-map/src/scss/_chart-styles';

$countySwing-container: '#county-swing';
@import '../../node_modules/politico-module-elections-county-arrow-swing-chart/src/scss/_chart-styles';


$demographicPlot-container: '.plot';
@import '../../node_modules/politico-module-elections-demographic-vote-trend-scatterplots/src/scss/_chart-styles';

//Top Results div
.top-results.section{
  padding: 0 15px;
  margin-top: 2rem;
  @media(max-width: 768px){
    margin-top: .5rem;
  }

  .bar{
    width: 40%;
    float:left;

      @media(max-width: 960px){
        width: 45%;
      }
      @media(max-width: 600px){
        width: 80%;
        margin: 0 0 0 10%;
      }
  }
  .map{
    width: 60%;
    float:left;
      @media(max-width: 600px){
        width: 50%;
        margin: 0 auto;
      }
      @media(max-width: 600px){
        width: 100%;
        margin: 0 auto;
        padding: 20px;
      }
  }
}


// Results bar
#candidateResultsBar{
   .g-candidateInfo{
     vertical-align: top;
   }

   .g-bar{
     height: 20px;
   }

   .g-mugshot{
     margin: 30px 20px 10px 0;

    .g-candidate-photo {
    max-width: 70px;
    border-radius: 5px;
    }

    .g-candidate-name{
    font-size: 22px;
    }

    .g-candidate-party{
    font-size: 16px;
    }
  }

  .g-candidate-party{
    padding: 2px 9px;
  }

  .g-vote-pct {
    font-size: 45px;
    line-height: 1;
    text-align: left;
  }

  .g-bar{
    margin-top: 0;
  }
  .g-winner-announced:before{
    padding-top: 0;
    font-size: 14px;
  }
}

//Loading Results bar
.loading-bar{
  p{
    font-family: $franklin;
    width: 170px;
    height: 32px;
    padding: 5px 10px;
    background-color: $light-load;
    font-size: 14px;
    margin: 0;
    display: block;
    @media(max-width: 768px){
      margin: 0 auto;
      text-align: center;
    }
  }

  p.new-results{
      background-color: $new-restults-load;
      color: $white;
  }
}

.scatterplot-wrapper {
  position: relative;
  max-width: 290px;
  margin: 0 auto;
}
