@import 'fonts/stateface';
@import 'bootstrap';

@import 'breakpoints';
@import 'mixins';
@import 'colors/base';
@import 'colors/diverging';
@import 'colors/qualitative';
@import 'colors/sequential';
@import 'fonts';
@import 'icons';

@import 'elements';
@import 'sections';
@import 'card';
@import 'key';
@import 'refer';
@import 'navigation';
@import 'header';
@import 'footer';
@import 'photos';
@import 'buttons';
@import 'ads';
@import 'comments';
@import 'share';
@import 'credits';
@import 'graphics';


.section{
  margin-bottom: 4rem;
}

.content-extra-large{
  max-width: 1080px;
}

.content-extra-extra-large{
  max-width: 1280px;
  @include margin-auto;
}

@media(max-width: 780px){

  .top-results.section{
    max-width: 100%;

  }

  .section{
    max-width: 400px;
    @include margin-auto;
  }
}


$candidateResultsBar-container: '#candidateResultsBar';
@import '../../node_modules/candidate-results-bar/src/scss/_chart-styles';
