@import 'fonts/stateface';

h3{
  color:green;
  font-size: 34px;
}

purple{
  color: purple;
}
green{
  color: green;
}


$candidateResultsBar-container: '#candidateResultsBar';
@import '../../node_modules/candidate-results-bar/src/scss/_chart-styles';

$resultCounty-container: '#resultsMap';
@import '../../node_modules/politico-module-elections-results-county-map/src/scss/_chart-styles';
