@import 'fonts/stateface';
@import 'bootstrap';

@import 'breakpoints';
@import 'mixins';
@import 'colors/base';
@import 'colors/diverging';
@import 'colors/qualitative';
@import 'colors/sequential';
@import 'fonts';
@import 'icons';

@import 'elements';
@import 'sections';
@import 'card';
@import 'refer';
@import 'navigation';
@import 'header';
@import 'footer';
@import 'photos';
@import 'buttons';
@import 'ads';
@import 'comments';
@import 'share';
@import 'credits';
@import 'graphics';

$light-load: #FFEFB5;
$checking-load: #fce490;
$new-restults-load: #629359;
.content-group.ad:first-of-type{
  padding-top:10px;
}
body{
  font-family: $franklin;
  padding-bottom: 4rem;
}

.section{
  margin-bottom: 4rem;
  padding: 0 15px;

  &.swing-chart,
  &.credits{
  margin-bottom: 0;
  }
}

.content-extra-large{
  max-width: 980px;
}

.content-extra-extra-large{
  max-width: 1280px;
  @include margin-auto;
}

@media(max-width: 780px){
  .top-results.section, .section{
    max-width: 100%;
  }
}

header {
  h3{
  font-family: $proxima;
  font-size: 16px;
  }
  span.red{
  color: $politico-red;
  font-weight: 700;
  }
}

h2{
  font-size: 1.48rem
}

h3{
  font-size: 1.1rem;
}



$candidateResultsBar-container: '#candidateResultsBar';
@import '../../node_modules/candidate-results-bar/src/scss/_chart-styles';

$resultCounty-container: '#resultsMap';
@import '../../node_modules/politico-module-elections-results-county-map/src/scss/_chart-styles';

$countySwing-container: '#county-swing';
@import '../../node_modules/politico-module-elections-county-arrow-swing-chart/src/scss/_chart-styles';


$demographicPlot-container: '.plot';
@import '../../node_modules/politico-module-elections-demographic-vote-trend-scatterplots/src/scss/_chart-styles';

$usDemographic-container: '.demographic-map';

@import '../../node_modules/politico-module-elections-demographic-county-map/src/scss/_chart-styles';

//Top Results div
.top-results.section{
  padding: 0 15px;
  margin-top: 2rem;
  @media(max-width: 768px){
    margin-top: .5rem;
  }

  .bar{
    width: 35%;
    float:left;

      @media(max-width: 980px){
        // width: 45%;
      }
      @media(max-width: 768px){
        width: 98%;
        margin: 0 0 0 2%;      }
  }
  .map{
    width: 55%;
    margin-left: 5%;
    padding-left: 4%;
    border-left: solid 1px #e7e7e7;
    float:left;
      @media(max-width: 768px){
        width: 100%;
        margin: 0;
        padding: 0;
        border-left: none;
      }
  }
}


//Loading Results bar
.loading-bar{
  p{
    font-family: $franklin;
    width: 170px;
    height: 32px;
    padding: 5px 10px;
    background-color: $light-load;
    font-size: 14px;
    margin: 0;
    display: block;
    @media(max-width: 768px){
      margin: 0 auto;
      text-align: center;
    }
  }

  p.new-results{
      background-color: $new-restults-load;
      color: $white;
  }
}

//bar
#candidateResultsBar .g-other-vote-pct {
float:right;
}

//Scatter Plots
.scatterplot-wrapper {
  position: relative;
  max-width: 290px;
  margin: 0 auto;
}

.scatter-plots .col-sm-3{
    width: 25%;
  @media (max-width: 1280px){
    width: 50%;
    float: left;
  }
  @media (max-width: 640px){
    width: 100%;
    padding:0 0 20px;
    float: 0;
  }
}

.plot-container{
    max-width: 100%;
    margin: 0 auto;

  @media (max-width: 1280px){
    max-width: 700px;
    margin: 0 auto;
  }
}

//More css for Jeremy's top results bar

#candidateResultsBar .g-candidate-party {
    padding: 2px 9px 3px;
  }

@media(max-width:980px){
    #candidateResultsBar .g-mugshot {
        margin: 10px 0 10px 0;
        &:first-of-type{
          margin-top: 20px;
        }
    }
    #candidateResultsBar .g-mugshot .g-candidate-photo {
    max-width: 65px;
    }
    #candidateResultsBar .g-mugshot .g-candidate-party {
      font-size: 14px;
    }
    #candidateResultsBar .g-candidate-party {
      padding: 2px 8px 3px;
    }
    #candidateResultsBar .g-mugshot .g-candidate-name {
      font-size: 19px;
      margin: -12px 10px;
    }
}
