@import 'fonts/stateface';
@import 'bootstrap';

@import 'breakpoints';
@import 'mixins';
@import 'colors/base';
@import 'colors/diverging';
@import 'colors/qualitative';
@import 'colors/sequential';
@import 'fonts';
@import 'icons';

@import 'elements';
@import 'sections';
@import 'card';
@import 'refer';
@import 'navigation';
@import 'header';
@import 'footer';
@import 'photos';
@import 'buttons';
@import 'ads';
@import 'comments';
@import 'share';
@import 'credits';
@import 'graphics';


.section{
  margin-bottom: 4rem;
}

.content-extra-large{
  max-width: 1080px;
}

.content-extra-extra-large{
  max-width: 1280px;
  @include margin-auto;
}

@media(max-width: 780px){

  .top-results.section{
    max-width: 100%;

  }

  .section{
    max-width: 400px;
    @include margin-auto;
  }
}

header h3{
  font-family: $tablet;
}


$candidateResultsBar-container: '#candidateResultsBar';
@import '../../node_modules/candidate-results-bar/src/scss/_chart-styles';


#candidateResultsBar{
   .g-candidateInfo{
     vertical-align: top;
   }

   .g-mugshot .g-candidate-photo {
    max-width: 90px;
    border-radius: 5px;
  }

  .g-mugshot .g-candidate-name{
    font-size: 22px;
  }

  .g-candidate-party{
    padding: 2px 9px;
  }

  .g-vote-pct {
    font-size: 62px;
    line-height: 1;
    text-align: left;
  }

  .g-bar{
    margin-top: 0;
  }
  .g-winner-announced:before{
    padding-top: 0;
  }
}

$resultCounty-container: '#resultsMap';
@import '../../node_modules/politico-module-elections-results-county-map/src/scss/_chart-styles';
