@import 'fonts/stateface';
@import 'bootstrap';

@import 'breakpoints';
@import 'mixins';
@import 'colors/base';
@import 'colors/diverging';
@import 'colors/qualitative';
@import 'colors/sequential';
@import 'fonts';
@import 'icons';

@import 'elements';
@import 'sections';
@import 'card';
@import 'refer';
@import 'navigation';
@import 'header';
@import 'footer';
@import 'photos';
@import 'buttons';
@import 'ads';
@import 'comments';
@import 'share';
@import 'credits';
@import 'graphics';

$light-load: #FFEFB5;
$dark-load: #FFE897;


.section{
  margin-bottom: 4rem;
}

.content-extra-large{
  max-width: 1000px;
}

.content-extra-extra-large{
  max-width: 1280px;
  @include margin-auto;
}

@media(max-width: 780px){

  .top-results.section{
    max-width: 100%;

  }

  .section{
    max-width: 400px;
    @include margin-auto;
  }
}

header h3{
  font-family: $tablet;
}

$candidateResultsBar-container: '#candidateResultsBar';
@import '../../node_modules/candidate-results-bar/src/scss/_chart-styles';

$resultCounty-container: '#resultsMap';
@import '../../node_modules/politico-module-elections-results-county-map/src/scss/_chart-styles';

$countySwing-container: '#county-swing';
@import '../../node_modules/politico-module-elections-county-arrow-swing-chart/src/scss/_chart-styles';


$demographicPlot-container: '.scatterplot';
@import '../../node_modules/politico-module-elections-demographic-vote-trend-scatterplots/src/scss/_chart-styles';

//Top Results div
.bar{
  width: 40%;
  float:left;

    @media(max-width: 960px){
      width: 45%;
    }
    @media(max-width: 600px){
      width: 100%;
    }
}
.map{
  width: 60%;
  float:left;
    @media(max-width: 600px){
      width: 50%;
      margin: 0 auto;
    }
    @media(max-width: 600px){
      width: 100%;
      margin: 0 auto;
      padding: 20px;
    }
}


// Results bar
#candidateResultsBar{
   .g-candidateInfo{
     vertical-align: top;
   }

   .g-bar{
     height: 20px;
   }

   .g-mugshot{
     margin: 30px 0 10px 0;

    .g-candidate-photo {
    max-width: 70px;
    border-radius: 5px;
    }

    .g-candidate-name{
    font-size: 22px;
    }

    .g-candidate-party{
    font-size: 16px;
    }
  }

  .g-candidate-party{
    padding: 2px 9px;
  }

  .g-vote-pct {
    font-size: 45px;
    line-height: 1;
    text-align: left;
  }

  .g-bar{
    margin-top: 0;
  }
  .g-winner-announced:before{
    padding-top: 0;
    font-size: 14px;
  }
}

//Loading Results bar
.loading-bar{
  p{
    font-family: $franklin;
    max-width: 300px;
    padding: 10px 20px;
    background-color: $light-load;
    font-size: 14px;

  }
}
