<!DOCTYPE html>
<html>
  <head>
    {%block universal-meta%}
      {% include "showtime/meta.html" %}
    {%endblock%}

    {%block page-meta%}
    {%endblock%}
    <meta charset="utf-8">
    <title></title>
    {%block metatags%}
    {%endblock%}

    {%block relative_head%}
    {%endblock%}

  </head>
  <body>
    {%block content%}
    {%endblock%}
    {%block preview_home%}
      <small><a href="{%url 'preview'%}">links</a></small>
    {%endblock%}
    {%block relative_foot%}
    {%endblock%}
  </body>
</html>
