{%extends "theshow/base.html"%}
{%load staticfiles%}

{%block universal-meta%}{%endblock%}

{%block title%}
{%endblock%}

{%block page-meta%}
<!-- Site URL -->
<meta property="og:url" content="https://www.politico.com/interactives/elections/{{year}}/{{state.slug}}/special-election/{{election_day.special_election_datestring}}/" />
<link rel="canonical" href="https://www.politico.com/interactives/elections/{{year}}/{{state.slug}}/special-election/{{election_day.special_election_datestring}}/" />
<!-- Project title -->
<meta property="twitter:title" content="{{state}} Special Election Results {{year}} | {{race.office.slug|capfirst}}" />
<meta property="og:title" content="{{state}} Special Election Results {{year}} | {{race.office.slug|capfirst}}" />
<!-- Project description -->
<meta property="twitter:description" content="See results, maps and live coverage." />
<meta property="og:description" content="See results, maps and live coverage." />
<meta name="description" content="See results, maps and live coverage." />
<!-- Keywords -->
<meta property="og:keywords" content="" />

<!-- title and description -->
<!-- update this lily -->
<title>{{state}} Special Election Results {{year}} | {{race.office.slug|capfirst}} Live Map by County, Real-Time Voting Updates</title>
<meta name="description" content="POLITICO's Live {{year}} {{state}} Special Election Results and Maps by County. Includes {{year}} races for {{race.office.slug|capfirst}} and demographic charts and trends">

{%endblock%}



{%block content%}
<!-- banner -->
<div class="content-group ad">
    <p>Advertisement</p>
      <div class="ad-slot flex horizontal" id="pol-01" ></div>
</div>

<header class="center">
    <div class="share">
       <a href="" class="icon icon-facebook" target="_blank"></a>
       <a href="" class="icon icon-twitter" target="_blank"></a>
       <a class="icon icon-mail" target="_blank"></a>
    </div>
    <h1>
    {{year}} {{state.name}} special election results: {{candidates.GOP.person.last_name}} vs. {{candidates.Dem.person.last_name}}
    </h1>
    <h3 class="live-results">LIVE Results last updated: <span class="red"></span></h3>

</header>

<div id="app">
  <div class="chatter">{{ content.chatter|safe }}</div>
</div>

{%endblock%}

{%block relative_head%}
<style media="screen">

</style>
{%endblock%}

{%block api%}
{% with "theshow/results/"|add:state.slug|add:"/special-election/"|add:election_day.special_election_datestring|add:"/results.json" as results_json %}
{% with "theshow/results/"|add:state.slug|add:"/special-election/"|add:election_day.special_election_datestring|add:"/last-updated.json" as last_updated_json %}
{% with "https://s3.amazonaws.com/com.politico.interactives.politico.com/elections/data/geography/2016/state/"|add:state.code|add:"/counties.json" as geo_json %}
<script type="text/javascript">
  window.appConfig = {
    api: {
      context: '{% url "special-election-detail" date=election_day.date pk=state.pk %}',
      results: '{% static results_json %}',
      lastUpdated: '{% static last_updated_json %}',
      geo: '{{ geo_json }}',
    },
    stateFips: '{{state.code}}',
    statePostal: '{{ state.code_components.postal }}',
    stateSlug: '{{ state.slug }}',
  };
</script>
{% endwith %}
{% endwith %}
{% endwith %}
{%endblock%}

{%block relative_foot%}
<script src="{% static 'theshow/js/main-race-app.js'%}"></script>
{%endblock%}
