{%extends "theshow/base.html"%}
{%load staticfiles%}


{%block page-meta%}
<title>Live {{year}} {{race.office.name}} Election Results: {{ candidates.GOP }} vs. {{ candidates.Dem }}</title>
<!-- Site URL -->
<meta property="og:url" content="https://www.politico.com/election-results/{{year}}/{{state.slug}}/{{race.office.slug}}/" />
<link rel="canonical" href="https://www.politico.com/election-results/{{year}}/{{state.slug}}/{{race.office.slug}}/" />
<!-- Site URL -->
<meta property="og:url" content="https://www.politico.com/election-results/{{year}}/{{state.slug}}/{{race.office.slug}}/" />
<link rel="canonical" href="https://www.politico.com/election-results/{{year}}/{{state.slug}}/{{race.office.slug}}/" />
<!-- Project title -->
<meta property="twitter:title" content="Live {{year}} {{race.office.name}} Election Results: {{ candidates.GOP }} vs. {{ candidates.Dem }}" />
<meta property="og:title" content="Live {{year}} {{race.office.name}} Election Results" />
<!-- Project description -->
<meta property="twitter:description" content="See results, maps and live coverage." />
<meta property="og:description" content="See results, maps and live coverage." />
<meta name="description" content="See results, maps and live coverage." />
<!-- Keywords -->
<meta property="og:keywords" content="Live {{year}} {{race.office.name}} Election Results, {{ candidates.GOP }}, {{ candidates.Dem }}, Election Results, {{race.office.name}}, Live election results" />
{%endblock%}



{%block content%}
<!-- banner -->
<div class="content-group ad">
    <p>Advertisement</p>
      <div class="ad-slot flex horizontal" id="pol-01" ></div>
</div>

<header class="center">
    <div class="share">
       <a href="" class="icon icon-facebook" target="_blank"></a>
       <a href="" class="icon icon-twitter" target="_blank"></a>
       <a class="icon icon-mail" target="_blank"></a>
    </div>
    <h3>LIVE Results</h3>
    <h1>
    {{year}} {{race.office.name}} election results: {{candidates.GOP.person.last_name}} vs. {{candidates.Dem.person.last_name}}
    </h1>
    <!-- <div class="info">
        <p>
            <span class="timestamp">Live Updating Results</span>
        </p>
    </div> -->

</header>

<div id="app">
  <div class="chatter">{{ chatter }}</div>
</div>

{%endblock%}

{%block relative_head%}
<style media="screen">

</style>
{%endblock%}

{%block api%}
{% with "theshow/results/"|add:state.slug|add:"/"|add:race.office.slug|add:"/results.json" as results_json %}
{% with "https://s3.amazonaws.com/com.politico.interactives.politico.com/elections/data/geography/2016/state/"|add:state.code|add:"/counties.json" as geo_json %}
<script type="text/javascript">
  window.appConfig = {
    api: {
      context: '{% url "office-election-detail" date=election_day.date pk=office.pk%}',
      results: '{% static results_json %}',
      geo: '{{ geo_json }}', // Change me
    },
    stateFips: '{{state.code}}',
  };
</script>
{% endwith %}
{% endwith %}
{%endblock%}

{%block relative_foot%}
<script src="{% static 'theshow/js/main-race-app.js'%}"></script>
{%endblock%}
