{%extends "theshow/races/race.exec.state.live.html"%}

{%block relative_head%}
<style media="screen">
  h1{
    color: red;
  }
</style>
<link rel="stylesheet" href="//{{domain}}/{{root_path}}/cdn/{{election_day}}/css/main-race-app.css">
{%endblock%}

{%block api%}
{% with "https://s3.amazonaws.com/com.politico.interactives.politico.com/elections/data/geography/2016/state/"|add:state.code|add:"/counties.json" as geo_json %}
<script type="text/javascript">
  window.appConfig = {
    api: {
      context: './context.json',
      results: './results.json',
      lastUpdated: './last-updated.json',
      geo: '{{ geo_json }}',
    },
    stateFips: '{{state.code}}',
    statePostal: '{{ state.postal_code }}',
    stateSlug: '{{ state.slug }}',
  }
</script>
{% endwith %}
{%endblock%}
{%block relative_foot%}
<script src="//{{domain}}/{{root_path}}/cdn/{{election_day}}/js/main-race-app.js"></script>
{%endblock%}