{%extends "theshow/base.html"%}
{%load staticfiles%}


{%block page-meta%}
<!-- Site URL -->
<meta property="og:url" content="https://www.politico.com/election-results/{{year}}/{{state.slug}}/{{race.office.slug}}/" />
<link rel="canonical" href="https://www.politico.com/election-results/{{year}}/{{state.slug}}/{{race.office.slug}}/" />
<!-- Site URL -->
<meta property="og:url" content="https://www.politico.com/election-results/{{year}}/{{state.slug}}/{{race.office.slug}}/" />
<link rel="canonical" href="https://www.politico.com/election-results/{{year}}/{{state.slug}}/{{race.office.slug}}/" />
<!-- Project title -->
<meta property="twitter:title" content="Live **YEAR RACE NAME** Election Results: **Candidate** vs. **Candidate** Election Results" />
<meta property="og:title" content="Live **YEAR RACE NAME** Election Results" />
<!-- Project description -->
<meta property="twitter:description" content="See results, maps and live coverage." />
<meta property="og:description" content="See results, maps and live coverage." />
<meta name="description" content="See results, maps and live coverage." />
<!-- Keywords -->
<meta property="og:keywords" content="Live **YEAR RACE NAME** Election Results, **Candidate(s)**, **YEAR RACE NAME** Election Results, **YEAR RACE NAME**, 2020 election, Live election results" />
{%endblock%}



{%block content%}
<header class="center">
    <div class="share">
       <a href="" class="icon icon-facebook" target="_blank"></a>
       <a href="" class="icon icon-twitter" target="_blank"></a>
       <a class="icon icon-mail" target="_blank"></a>
    </div>
    <h1>
    **Year Race Name** Election Results *:(when then win, display winner)* /{{year}}/{{state.slug}}/{{race.office.slug}}/
    </h1>
    <p class="subhead">
        Who is running / or who won and by how much, compared to the other person who had tk percent of the vote.
    </p>
     <span class="timestamp"> <time datetime="**Timestamp** "> date | Last updated: Timestamp</time></span>
    </p>
    </div>
</header>

<div id="app">
  <div class="chatter">{{ chatter }}</div>
</div>
{%endblock%}

{%block relative_head%}
<style media="screen">
  h1{
    color: blue;
  }
</style>
{%endblock%}

{%block api%}
{% with "theshow/results/"|add:state.slug|add:"/"|add:race.office.slug|add:"/results.json" as results_json %}
<script type="text/javascript">
  window.appConfig = {
    api: {
      context: '{% url "office-election-detail" date=election_day.date pk=office.pk%}',
      results: '{% static "theshow/results/2017/virginia/governor/data.json"%}',
      geo: '{% static "theshow/geo/virginia.json" %}', // Change me
      results: '{% static results_json %}',
    },
    stateFips: '{{state.code}}',
  };
</script>
{% endwith %}
{%endblock%}

{%block relative_foot%}
<script src="{% static 'theshow/js/main-race-app.js'%}"></script>
{%endblock%}
